@model LoginSuccessfulViewModel

<h1>You are now being returned to the application.</h1>
<p>Once complete, you may close this tab</p>

@if (Model.Show2FARegMessage)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Two-Factor Authentication</h3>
        </div>

        @if (Model.TwoFAAlreadyEnabled)
        {
            <div class="panel-body">
                <p>Two-factor authentication has been set up on your profile.<br /></p>
                <button class="btn btn-primary" name="btnTwoFA" id="btnTwoFA" value="btnTwoFA">Maintain</button>
            </div>
        }
        else
        {
            <div class="panel-body">
                <p>Register for two factor authentication, where a one-time password will be used as a second security factor.<br /></p>
                <p><i>This is recommended for enhanced security.</i></p>
                <button class="btn btn-primary" name="btnTwoFA" id="btnTwoFA" value="btnTwoFA">Register</button>
            </div>
        }
    </div>

     <input type="hidden" name="TwoFAUrl" id="TwoFAUrl" value="@Model.TwoFAUrl" />
}

<input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@Model.RedirectUrl" />
<button class="btn btn-default" name="btnContinueWithRedirect" id="btnContinueWithRedirect" value="btnContinueWithRedirect">Continue with Redirect</button>

@section scripts {
    <script src="~/js/signin-redirect.js"></script>
}
